body,div,li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
ul#sortableList {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	width: 240px;
}
ul#sortableList li {
	cursor: move;
	padding: 2px 2px;
	margin: 2px 0px;
	border: 1px solid #000000;
	background-color: #daeda3;
}
/* div bg */
div#sortableList div {
	/*cursor: move;*/
	padding: 2px 2px;
	margin: 2px 0px;
	border: 1px solid #000000;
	/*background-color: #99CCFF;*/
	/*background-color:#993300;*/
	background-color:#993366;
	width: 240px;
}
div#sortableList img {
	/*cursor: move;*/
	display: block;
	margin: 5px 0px;
	border: 1px solid #000000;
}
